.blog {
    padding: 6.2rem 0;
    background: linear-gradient(90deg, $gray-200, #fff);

    //h1
    h1 {
        text-align: center;
    
        //h1::after
        &::after {
            margin: 15px auto;
    
        }
    }
             
    // ------- card -----------------------------------------------
                .card {
                    margin-bottom:1rem;
                    background: $white;
                    cursor: pointer;

                    //card:hover
                    &:hover img{
                        transform: scale(1.2);
                    }

                    //img-wrapper
                    .img-wrapper {
                        overflow: hidden;

                        //img
                        img {
                            transition: 0.5s ease-out;  
                        }           
                    }

                    //h2
                    .card-title {
                        font-size: 1rem;
                        line-height: 1.5rem;
                        color: $dark;
                    }

                    //card-text
                    .card-text {
                        font-size: $font-size-sm;
                    }                 
                }
}

