.home {  
    background: linear-gradient(90deg, #fff, $gray-200);
    
    // small screen (from 992px to below)
    @media  only screen and (max-width: 992px) {
        // flex container
        .flex-container {
            flex-direction: column;
        }
    }

    // ----- Item left intro ---------------------------------------
                .intro {
                    width: 50%;
                    height: 100vh;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    // small screen (from 992px to below)
                    @media  only screen and (max-width: 992px) {
                        width: 100%;
                        height: 40vh;
                        justify-content: flex-end; 
                        align-items: center;     
                    }

                    // small screen (from 576px to below)
                    @media  only screen and (max-width: 576px) {
                        height: 50vh;    
                    }

                    //h1
                    h1 {
                        font-weight: 800;
                        color: $secondary;
                        font-size: 3.5rem;
                        text-transform: uppercase;
                        margin-bottom: 1.2rem;

                        // small screen (from 992px to below)
                        @media  only screen and (max-width: 992px) {
                            font-size: 3rem;
                        }

                        // small screen (from 992px to below)
                        @media  only screen and (max-width: 600px) {
                            font-size: 2rem;
                            margin-bottom: 1rem;
                        }
                    }      

                    //p
                    p {
                        margin-bottom: 1.2rem;

                        // small screen (from 992px to below)
                        @media  only screen and (max-width: 600px) {
                            margin-bottom: 0.9rem;
                        }
                    }

                    //first p child of it's parent div
                    p:first-child{
                        letter-spacing: 0.5rem;
                    }

                    //link button
                    a {
                        margin-top: 1rem;
                        padding: 10px 50px;  

                        // small screen (from 500px to below)
                        @media  only screen and (max-width: 600px) {               
                            margin-top: 0.7rem;
                        }
                    }
                }
                

    // ------ item right photo -------------------------------------
                .home-pic {
                    width: 50%;
                    height: 100vh;
                    background: url("../img/home/home-pic-desktops.png");
                    background-repeat: no-repeat;
                    background-position: right bottom;
                    background-size: contain;

                    // small screen (from 992px to below)
                    @media  only screen and (max-width: 992px) {
                        width: 100%;
                        height: 60vh;
                        background-position: center bottom;
                    }

                    // small screen (from 768px to below)
                    @media (max-width: 768px) {
                        background: url("../img/home/home-pic-desktops.png");
                        background-repeat: no-repeat;
                        background-position: center bottom;
                        background-size: contain;
                    }

                    // small screen (from 576px to below)
                    @media (max-width: 576px) {
                        background: url("../img/home/home-pic-desktops.png");
                        background-repeat: no-repeat;
                        background-position: center bottom;
                        background-size: contain;
                        height: 50vh; 
                    }
                } 
}